.App {
  text-align: center;
}
.text-box {
  margin: 20px;
  min-height: 30px;
}

.card {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 5px;
  max-width: 500px;
  margin-left: 30%;
}

.card span {
  padding: 5px;
}

.card .title {
  margin: 3px;
}

.card .image {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}
